body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body > div {
    padding: 0 10%;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-nav ul {
    display: flex;
    gap: 16px;
}

h1 {
    font-size:  20px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    color: #F9FAF8;
    font-weight: lighter;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.top-img {
    width: 300px;
}

#one {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;

}

.hero-left p {
    font-size: 18px;
    color: #E5E7EB;
}

#three {
    flex: 1;
}

#three {
    background-color: #E5E7EB;
    flex: 1;
}

#four {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.cta-container {
    flex: 1;
    background-color: #3882F6;
    padding: 16px 60px;
    border-radius: 8px;
}

#footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer p {
    color: #E5E7EB;
    font-size: 12px;
    font-weight: lighter;
}